.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 9px 16px;
  margin: 0 10px;
  border-radius: 4px;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid transparent;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

.active {
  background-color: var(--primary-color);
  color: white;

  &:hover {
    color: white;
    opacity: 0.9;
  }
}
